.hero {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px #f48c06;
}
    .hero .hero-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .hero .hero-container .background {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .hero .hero-container .title-group {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: absolute;
            transform: translateZ(1px);
        }
            .hero .hero-container .title-group .title-line {
                width: auto;
                max-width: 700px;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
                .hero .hero-container .title-group .title-line span {
                    color: white;
                    font-family: Lato-bold;
                    user-select: none;
                }
                .hero .hero-container .title-group .title-line:nth-child(1) span {
                    font-size: 50px;
                    text-shadow: 0 0 10px black;
                    margin: 20px;
                }
                    .hero .hero-container .title-group .title-line:nth-child(1) span b {
                        color: #f48c06;
                    }
                .hero .hero-container .title-group .title-line:nth-child(2) span {
                    font-size: 20px;
                    margin: 20px;
                    text-shadow: 0 0 5px black;
                }
                .hero .hero-container .title-group .title-line:nth-child(3) span {
                    color: #b1b1b1;
                    margin: 20px;
                    text-shadow: 0 0 5px black;
                }
                .hero .hero-container .title-group .title-line:nth-child(4) span {
                    color: #b1b1b1;
                    margin: 20px;
                    text-shadow: 0 0 5px black;
                }
.cta-1 {
    width: 100vw;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #f48c06;
}
    .cta1-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }
        .cta-1 .cta1-container .cta-text {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .cta-1 .cta1-container .cta-text .text-line, .number-line {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                user-select: none;
            }
                .cta-1 .cta1-container .cta-text .text-line span {
                    color: white;
                    font-family: Lato-bold;
                    font-size: 22px;
                    margin: 20px 0;
                }
                .cta-1 .cta1-container .cta-text .number-line span {
                    font-family: Lato-bold;
                    font-size: 40px;
                }
                .cta-1 .cta1-container .cta-text .number-line span:nth-child(1) {
                    color: #f48c06;
                    margin: 20px 15px 20px 0;
                }
                .cta-1 .cta1-container .cta-text .number-line span:nth-child(2) {
                    color: white;
                    font-size: 30px;
                }
        .cta-1 .cta1-container .profile-img {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .cta-1 .cta1-container .profile-img .img {
                width: 100%;
                height: 100%;
            }
                .cta-1 .cta1-container .profile-img .img canvas {
                    height: 100%;
                    width: 100%;
                    display: block;
                }
.cta-2 {
    width: 100vw;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px #f48c06;
}
    .cta2-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        .cta-2 .cta2-container .cta2-title {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .cta-2 .cta2-container .cta2-title span {
                color: white;
                font-family: Lato-bold;
                font-size: 28px;
                margin: 20px 0;
            }
        .cta-2 .cta2-container .cta2-video {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .cta-2 .cta2-container .cta2-video .video {
                aspect-ratio: 16/9;
                width: 90%;
                max-width: 650px;
                border: solid 1.5px #f48c06
            }
.portfolio {
    width: 100vw;
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px #f48c06;
}
    .portfolio-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .portfolio .portfolio-container .portfolio-grid {
            width: 95%;
            min-height: 500px;
            display: grid;
        }
@media screen and (min-width: 900px) {
    .cta-1 {
        height: 80vh;
    }
    .cta1-container {
        flex-direction: row;
    }
}